.login, .forgot-password {
    width: 50% !important;
    max-width: 1024px !important;
}

.login-actions {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.login-actions [type=submit] {
    width: auto !important;
    margin: 0 0px 12px 0 !important;
}

.login-actions button {
    flex: 1 0 auto
}